@media print {
    .nav-tabs,
    .css-xb97g8,
    .css-1hb7zxy-IndicatorsContainer {
        display: none !important;
    }
    .asset-select > * {
        border-top: 0 !important;
        border-left: 0 !important;
        border-right: 0 !important;
    }
    textarea {
        max-height: 6.1rem;
    }
    .navbar-brand {
        color: black !important;
    }
    .display-6.fs-4 {
        display: none;
    }
    .mb-3 {
        margin-bottom: 0 !important;
    }
    .form-label {
        width: 15rem;
        margin-bottom: 0 !important;
    }

    .form-control,
    .form-control:read-only,
    .form-select {
        border-top: 0;
        border-left: 0;
        border-right: 0;
        background-color: transparent;
        border-radius: 0;
        padding-top: 0.2rem;
        margin-bottom: 0.3rem;
    }
    .input-group {
        flex-wrap: nowrap;
    }

    .shadow {
        box-shadow: none !important;
        border-top: 1px solid gray;
        padding-top: 4px !important;
        padding-bottom: 4px !important;
        margin-top: 8px !important;
        margin-bottom: 8px !important;
    }

    .row {
        flex-wrap: nowrap;
    }

    .btn {
        display: none;
    }

    .container {
        min-width: 100%;
        max-width: 100%;
    }

    .table {
        padding-bottom: 4px !important;
    }
    .d-print-table-row-group {
        display: table-row-group !important;
    }

    canvas {
        width: 100% !important;
        height: auto !important;
    }
}
